.form span{
    font-size: 16px;
    margin: 0;
    margin: auto;
}

.sendMessage{
    margin-top: 5px;
    margin: auto;
    margin-bottom: 30px;
}

.form{
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}


.formWrapper{
    max-width:700px;
}

label{
    max-width: 656px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

input{
    outline: none;
    border:none;
    width: 100%;
    height: 100%;
    padding:20px;
    background-color: rgb(226, 226, 226);
    opacity: 0.5;
}

textarea{
    outline: none;
    border:none;
    width: 100%;
    height: 100px;
    padding:20px;
    background-color: rgb(226, 226, 226);
    opacity: 0.5;
}

input:active, input:focus, textarea:active, textarea:focus{
    border: none;
}


.fields{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact{
    background: none;
    padding: 0;
}

.button
{
    margin:0;
}

.contactWrapper{
    width:150px;
    height:100px;
}

@media(max-width: 726px){
    .formWrapper{
        max-width:400px;
    }
}

@media(max-width: 500px){
    .formWrapper{
        max-width:300px;
    }
}
